<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/board.css">
    <title>Document</title>
    <script src="js/home/board.js" defer></script>

</head>
<body>
    <div>
    <div class="header">
        <div class="menu"><div class="menu_img"></div>
                <div id="sidebar">
                  <div id="xicon"></div>
                  <h1>메뉴창 미완성</h1>
                </div>
            </div>
            <a href="/" class="logo"></a>
        <% if(owner) {%>
        <div style=" width: 400px; position: relative; text-align: end;">
            <span class="userID">
                <span><%=ID%></span>
                <span class="usermenu2" style="color: black; margin-right: 50px; font-size: 15px; position: absolute; top: 25px; right: 130px;">△</span>
                <span style="font-size: 15px; margin-right: 30px;">▼</span>
            </span>
            
            <span class="usermenu usermenu2">
                <div style="width: 125px; height: 150px;">
                    <div style="height: 40px;"><%=ID%>님 </div>
                    <div class="userimage"><img class="userimg" src="https://ifh.cc/g/6sovzV.png"></div>
                </div>
                <div style="width: 125px;">
                    <div style="height: 40px;"><a href="/mypage" >마이페이지</a></div>
                    <ul class="smallrank" style="list-style: none;">
                        <li>누적랭킹</li>
                        <li>시즌랭킹</li>
                        <li>누적포인트</li>
                    </ul>
                </div>
            </span>

            <a href="/logout" class="login">로그아웃</a></div>
        <%}else{%>
        <div style="line-height: 60px; width: 400px; text-align: end;">
            <a href="/login" class="login">로그인</a>
        </div>
        <%}%>
    </div>
    </div>

    <div class="bd">
        
        <div class="sidemenu">
            <div class="mq">수학 퀴즈판</div>
           <div class="mathqna" ><a href="">수학 Q&A 게시판 ></a></div>
           <div class="mathrank">
           <div style="text-align: center;">수학 RANK</div>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
            </ul>
            </div>
        </div>

        <div class="mainmenu">
            <div class="mainmenu-header">
                <ol>
                    <li style="color: rgb(246,187,9);">BEST퀴즈</li>
                    <li style="color: red;">난이도上</li>
                    <li>난이도中</li>
                    <li style="color: rgb(9, 187, 246);">난이도下</li>
                </ol>

                <input class="searchbar" type="text" placeholder="제목 또는 작성자">
                <a href="/writing" class="makebtn">글작성</a>
            </div>
            <div class="mainmenu-body">
                <table>
                    <colgroup style="width: 800px;">
                        <col style="width: 10%;">
                        <col style="width: 60%;">
                        <col style="width: 20%;">
                        <col style="width: 10%;">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>글번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성일</th>
                        </tr>
                    </thead>
                    <tbody id="list">
                        <%for(let i = length-perpage*(page-1) ; i >length-perpage*page ; i--){%>
                            <%if(i===-1){%>
                                <%break%>    
                            <%}%>
                                <tr>
                                <td><%=quiz[i].number%></td>
                                <td><%=quiz[i].title%></td>
                                <td><%=quiz[i].user%></td>
                                <td style="font-size : 13px;"><%=quiz[i].in_date%></td>
                                </tr>
                          <%}%>
                    </tbody>
                </table>
                
                
            </div>
        </div>
        <div class="pagebar">
            <% for(let j = 1 ; j<=totalpage ; j++) {%>
                    <div id="pagination" onclick="move('<%=j%>')"><%=j%> </div>
            <%}%> 
        </div>
    </div>
    
    
</body>
</html>